body{
    font-family: "Montserrat";
}
h1 {  
font-family: "Montserrat" ;
font-size: 3.5rem;
line-height: 1.5;
font-weight: 900;
}

.container-fluid{
    padding: 3% 15%;
}
#title{
    background-color: #ff4c68;
    color: white;
}
 
h3{
    font-family: "Montserrat";
    font-weight: bold;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

em{
    margin-left: 10px;
}
/* Navbar  */

.navbar{
    padding: 0 0 4.5rem;;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem ;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

/* Download buttons  */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image  */
.title-image{
    width: 88%;
}

/* features section  */
#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.featured-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.featured-icon:hover{
    color:#ff4c68
}

/* testimonials section */
#testimonials{
    background-color: #ef8172;
    color: white;
    text-align: center;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
}

.testimonial-text{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size:2rem;
    color: white;
}

.carousel-item{
    padding: 7% 15%;
}
/* press section  */
#press{
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}

.press-logo{
    width:15%;
    margin: 20px 50px 20px;
}

/* Pricing Section  */
#pricing{
    padding: 10%;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* media query */
@media (max-width:1028px){
    #title{
        text-align: center;
    }
}

/* call to action section  */
#cta{
    background-color: #ff4c68;
    padding: 7% 10%;
    text-align: center;
}

.cta-h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    color: white;
    padding: 1% 0% 7%;
}

.btn-cta{
    margin: 0% 1% ;
}

/* footer section  */
#footer{
    text-align: center;
    background-color: white;
    padding:7%;
}

.social-media{
    padding: 1%;
}

.brand-icons{
    margin: 0% 1%;
    color: black;
    text-decoration: none;
}