body{
    background-color: #EAF6F6;
}
 /* making hr dotted with 5% width  */
hr{
    
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: rgb(201, 201, 201);
    width:5%;
}

h1,h3{
    color:#66BFBF;
}